<form [formGroup]="form">
  <div>
    Name:
    <input type="text" class="form-control" formControlName="name" />
  </div>

  <div>
    Firstname:
    <input type="text" class="form-control" formControlName="firstname" />
  </div>

  <div>
    Age:
    <input type="number" class="form-control" formControlName="age" />
  </div>

  <div>
    Cin:
    <input type="text" class="form-control" formControlName="cin" />
  </div>

  <div>
    Job:
    <input type="text" class="form-control" formControlName="job" />
  </div>

  <div>
    Path:
    <input
      type="text"
      class="form-control"
      formControlName="path"
      [disabled]="!path.enabled"
    />
  </div>

  <button [disabled]="form.invalid" class="btn btn-primary" (click)="addCv()">
    Add CV
  </button>
</form>
