<ng-container *ngIf="products$ | async as productsList; else loading">
  <button class="btn btn-primary" (click)="loadMore()">More Products</button>
  <div class="alert alert-warning">
    Product Number: {{ productsList?.length }}
  </div>
  <div *ngIf="!hasMoreProducts" class="alert alert-info mt-3">
    All products loaded.
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let product of productsList">
      <div class="d-flex align-items-center">
        <img
          class="rounded-circle me-3"
          [src]="product.thumbnail"
          alt="{{ product.title }}"
          width="75px"
          height="75px"
        />
        <p class="mb-0">{{ product.title }}</p>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
